html {
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h3 {
  font-size: 20px;
}

body {
	height: auto;
	margin: 0;
	overflow-x: hidden;
/*	background-color: #f3f3f3;*/
}

#bodyContent {
    padding-top: 20px;
  	display: flex;
  	align-items:center;
    flex-direction: column;
    width: 85%;
    min-width: 320px;
    position: relative;
    margin: 2em auto;
    z-index: 1;
    /*overflow: auto;*/
}

#body-inner {
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

nav {
	/*width: 100%;*/
	/*position: fixed;*/
	/*background-color: #1D3048;*/

	/*-webkit-box-shadow: 0 10px 15px -6px rgba(0, 0, 0, 0.2);*/
		/*-moz-box-shadow: 0 10px 15px -6px rgba(0, 0, 0, 0.2);*/
			/*box-shadow: 0 10px 15px -6px rgba(0, 0, 0, 0.2);*/

	/*top: 0;*/
	/*transition-timing-function: ease-out;*/
	
/*	-webkit-transition: top .4s;
			transition: top .4s;*/

	/*z-index: 10;*/

	/*display: flex;*/

	/*flex-wrap: wrap;*/
	/*align-items: center;*/
}

nav[data-toggle='toc'] {
  top: 42px;
  font-size: 16px;
}

@media (max-width: 768px) {
  /* override stickyness so that the navigation does not follow scrolling */
  nav[data-toggle='toc'] {
    margin-bottom: 42px;
    position: static;
  }

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  nav[data-toggle='toc'] .nav .active .nav {
    display: none;
  }
  /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
  /*
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
  */
}

a {
	cursor: pointer;
}

/* Calendar */

.calendar table, .calendar th, .calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th, .calendar tr, .calendar td {
  padding: 12px;
}

.calendar td.header {
  font-weight: 500;
}

.calendar tr.evenrow {
  background-color: #e6e8f2;
}

.calendar tr.oddrow {
  background-color: #f2f4f8;
}