/*html {
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h3 {
  font-size: 20px;
}

body {
	height: auto;
	margin: 0;
	overflow-x: hidden;
}*/

@charset "UTF-8";
body {
  font-family: "Work Sans", sans-serif;
/*  font-size: 1.5em;
*/}

code, kbd, pre, samp {
  font-family: "Inconsolata", monospace;
  font-size: 100%;
}

h1, h2, h3, h4, .navbar {
  font-family: "Roboto", sans-serif;
  /*margin-top: 1em;*/
  font-weight: 500;
}

/* Necessary to have fixed nav bar and TOC interaction */
h1:before, h2:before, h3:before, h4:before {
  content: " ";
  display: block;
  height: 60px;
  margin-top: -60px;
  visibility: hidden;
}

.navbar {
  margin-top: 0;
}

h1 {
  font-weight: lighter;
  color: #0072c1;
  /*padding-top: 1.2em;*/
  padding-bottom: 0.2em;
  border-bottom: 1px solid #eee;
}

h2, .navbar {
  font-weight: 400;
}

section, footer {
  margin: 2em 0;
}

header {
  padding-bottom: 0.5em;
  margin: 3.75em 0 1em;
}

header h1 {
  color: #0072c1;
}

footer {
  margin-bottom: 6em;
}

li p {
  margin: 0 0;
}

a, button, .btn {
  outline: 0;
}

a:hover {
  text-decoration: none;
}

blockquote {
  background-color: #e6f3ff;
  border-left: solid #0072c1;
  font-size: inherit;
}

abbr {
  font-variant: small-caps;
  letter-spacing: 0.1em;
  text-transform: lowercase;
}

#bodyContent {
    /*padding-top: 20px;*/
  	/*display: flex;*/
  	align-items:center;
    flex-direction: column;
    width: 85%;
    min-width: 320px;
    position: relative;
    margin: 2em auto;
    z-index: 1;
    /*overflow: auto;*/
}
nav {
	/*width: 100%;*/
	/*position: fixed;*/
	/*background-color: #1D3048;*/

	/*-webkit-box-shadow: 0 10px 15px -6px rgba(0, 0, 0, 0.2);*/
		/*-moz-box-shadow: 0 10px 15px -6px rgba(0, 0, 0, 0.2);*/
			/*box-shadow: 0 10px 15px -6px rgba(0, 0, 0, 0.2);*/

	/*top: 0;*/
	/*transition-timing-function: ease-out;*/
	
/*	-webkit-transition: top .4s;
			transition: top .4s;*/

	/*z-index: 10;*/

	/*display: flex;*/

	/*flex-wrap: wrap;*/
	/*align-items: center;*/
}

nav[data-toggle='toc'] .nav > li > a {
  top: 42px;
  font-size: 16px;
}

nav[data-toggle='toc'] .nav .nav > li > a {
  font-size: 14px;
}


@media (max-width: 768px) {
  /* override stickyness so that the navigation does not follow scrolling */
  nav[data-toggle='toc'] {
    margin-bottom: 42px;
    position: static;
  }

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  nav[data-toggle='toc'] .nav .active .nav {
    display: none;
  }
  /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
  /*
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
  */
}

a {
	cursor: pointer;
}

/* Calendar */

.calendar table, .calendar th, .calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th, .calendar tr, .calendar td {
  padding: 12px;
}

.calendar td.header {
  font-weight: 500;
}

.calendar tr.evenrow {
  background-color: #e6e8f2;
}

.calendar tr.oddrow {
  background-color: #f2f4f8;
}

/* Navbar colors */
.navbar {
  background-color: #0072c1;
  border: none;
  top: 0;
  /*position: fixed;*/
  right: 0;
  left: 0;
}

.navbar .navbar-brand {
  color: #ecf0f1;
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: #ffffff;
}

.navbar .navbar-text {
  color: #ecf0f1;
}

.navbar .navbar-nav > li > a {
  color: #ecf0f1;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
  color: #ffffff;
}

.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #0085e1;
}

.navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #0085e1;
}

.navbar .navbar-toggle {
  border: none;
}

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
  background-color: #0085e1;
}

.navbar .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
  border: none;
}

.navbar .navbar-link {
  color: #ecf0f1;
}

.navbar .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }

  .navbar .navbar-nav .open .dropdown-menu > li > a:hover, .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }

  .navbar .navbar-nav .open .dropdown-menu > .active > a, .navbar .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #0085e1;
  }
}